<h1>Add a Video</h1>

<form action="/" method="POST">

  <label for="link">Enter a URL:</label>

<input type="url" name="link" id="link" placeholder="https://example.com" pattern="https://.*" size="50" required>

<button type="submit">Add a Video</button>

</form>