
  <nav class='nav'>
     <a class="nav-1" href="/videos"> Random videos</a>
     <a class="nav-1" href="/auth/myvideos">My Videos</a>
     <a class="nav-1" href="/auth/form">Add a Video</a>
      <a class="nav-1" href="/auth/logout">Log Out</a>

</nav>
<div class="container">
{{!-- <h1>Add a Video to our Database!</h1> --}}
  <div class="add-form">
  <form action="/" method="POST">

  <label for="link">Add your Youtube URL: 📺</label>
  <br>
  <br>
  <input type="url" name="link" id="link" placeholder="https://example.com" pattern="https://.*" size="50" required>
  <br>
  <button class="btn-1"type="submit">Add a Video</button>

  </form>
  </div>
</div>
