<h1>Add a Video</h1>

<form action="/auth/videos" method="POST">

  <label for="url">Enter a URL:</label>

<input type="url" name="url" id="url"placeholder="https://example.com" pattern="https://.*" size="30" required>

<button type="submit">Add a Video</button>

</form>