<div class="container">
<h1>My Videos</h1>

 <div class="video">
    <iframe width="560" height="315" src="{{randomlink}}" 
  frameborder="0" allowfullscreen></iframe>

</div>

<a class="btn-1" href="/videos">Random videos</a>

</div>
