<div class="container">
<h1>My Videos</h1>

 <div class="video">
{{!-- {{#each videoList}} --}}
  <iframe width="560" height="315" src="{{myVideo}}" 
  frameborder="0" allowfullscreen></iframe>
{{!-- {{/each}} --}}
</div>



<a class="btn-1" href="/videos">Random videos</a>

</div>
