<form id="form" action="/auth/signup" method="POST">

  <label for="username">Choose your Username: </label><br />
  <input type="text" name="username" />
<br><br>

  <label for="password">Choose a Password: </label><br />
  <input type="password" name="password" />

  {{#if message}}
  <div class="error-message" style="color:red">{{message}}</div>
  {{/if}}

<br> <br> 
  <button type="submit">Sign up</button>
</form>