
<div class="container sign-up-class">

<form id="form" action="/auth/signup" method="POST">
<h1>Sign Up!</h1>

  <label for="username"> Choose your Username: </label>

  <input type="text" name="username"/>


  <label for="password"> Choose a Password: </label>

  <input type="password" name="password"/>

  {{#if message}}
  <div class="error-message" style="color:red">{{message}}</div>
  {{/if}}
  <br>

  <button class="btn-1" type="submit">Sign up</button>
</form>

</div>