

  {{#if user}}
   
  <h1>Welcome</h1>

  <a href="/videos">Go to Videos</a>
  
  {{/if}} 



{{#unless user}}
<h1> Welcome! Please </h1>
<a href="/auth/login">Log in</a>
<a href="/auth/signup">Sign up</a>
{{else}}
<a href="/auth/logout">Log out</a>
<br>
{{/unless}}

