<h1>
  Welcome to the music app 
  {{#if user}}
   
  <!-- show videos --> 

  {{/if}}
</h1>

{{#unless user}}
<a href="/auth/login">Log in</a>
<a href="/auth/signup">Sign up</a>
{{else}}
<a href="/auth/logout">Log out</a>
{{/unless}}

