
  <div class="container-index">
  
    <div class ='container'>
    {{#if user}}
    <h1>Welcome To The Music Roulette! ✨</h1>
    <h4>Upload your own videos to share them with new users<br>
      Play the Random roulette to  discover new artists</h4>
   <img class="img-1" src='/images/youtube-icon.png'>


    <div class='index-btn'>
    <a class="btn-1" href="/videos">Random videos</a>
    <a class="btn-1" href="/auth/myvideos">My Videos</a>
    </div>

    
    {{/if}} 


  {{#unless user}} 
  <h1>Welcome To The Music Roulette!✨</h1>
  <h4>Login or Sign-Up to discover a new 
    <br>music Video by a new artist.</h4>

  <div>
  <br> 
  <a class="btn-1" href="/auth/login">Log in</a>
  <a class="btn-1" href="/auth/signup">Sign up</a>
  </div>

  {{else}}
  <a class="btn-1" href="/auth/logout">Log out</a>
  {{/unless}}

  </div>
</div>
