
   <div class="container-index">
  
    <div class ='container'>
    {{#if user}}
    <h1>Welcome! ✨</h1>

    <a class="btn-1" href="/videos"> ➡ Random videos</a>

  
    <a class="btn-1" href="/auth/myvideos"> My Videos</a>


    
    {{/if}} 



  {{#unless user}}
  <h1>Welcome! ✨</h1>

  <br> 
  <br>
  <a class="btn-1" href="/auth/login">Log in</a>
  <br> 
  <br>
  <a class="btn-1" href="/auth/signup">Sign up</a>
  {{else}}
  <br>
  <a class="btn-1" href="/auth/logout">Log out</a>
  <br>
  {{/unless}}

  </div>
</div>

